<div ng-init="index=0" ng-show="index==0" class="list-block">
    <ul>
        <li class="item-divider">
            我的信息
        </li>
        <li>
            <a ng-click="index=1" class="item-link item-content">
                <div class="item-media">
                    <i class="fa fa-info"></i>
                </div>
                <div class="item-inner">
                    <div class="item-title label">{{customer.name}}</div>
                </div>
            </a>
        </li>
        <li>
            <a ng-click="index=2" class="item-link item-content">
                <div class="item-media">
                    <i class="fa fa-qrcode"></i>
                </div>
                <div class="item-inner">
                    <div class="item-title label">二维码</div>
                </div>
            </a>
        </li>
        <li>
            <a class="item-link item-content">
                <div class="item-media">
                    <i class="fa fa-map-marker"></i>
                </div>
                <div class="item-inner">
                    <div class="item-title label">收货地址</div>
                </div>
            </a>
        </li>
        <li class="item-divider">
            我的订单
        </li>
        <li>
            <a class="item-link item-content">
                <div class="item-inner">
                    <div class="item-title label">预订单</div>
                    <div class="item-after">
                        <span class="badge">1</span>
                    </div>
                </div>
            </a>
        </li>
        <li class="item-content">
            <div class="item-inner">
                <input ng-click="logout()" type="button" class="button button-cancel button-big" value="退出登录"/>
            </div>
        </li>
    </ul>
</div>
<form id="formInfo" ng-show="index==1" class="list-block ajax-submit" method="post">
    <ul>
        <li class="item-content">
            <div class="item-inner">
                <div class="item-title label">
                    姓名：
                </div>
                <div class="item-input">
                    <input ng-model="customer.name" type="text" name="name" required maxlength="64"
                           ng-pattern="/(?:[\u4E00-\u9FFF]{1,8}·\u4E00-\u9FFF]{1,8})|(?:[\u4E00-\u9FFF]{2,5})|(^[a-zA-Z]{1,30}$)/"/>
                </div>
            </div>
        </li>
        <li class="item-content">
            <div class="item-inner">
                <div class="item-title label">
                    手机：
                </div>
                <div class="item-input">
                    <input disabled type="tel" name="mobilephone" ng-model="customer.mobilephone" required
                           maxlength="12"
                           ng-pattern="/^1[0-9]{10,11}$/"/>
                </div>
            </div>
        </li>
        <!--<li class="item-content">-->
        <!--<div class="item-inner">-->
        <!--<div class="item-title label">-->
        <!--密码：-->
        <!--</div>-->
        <!--<div class="item-input">-->
        <!--<input type="text" name="password" placeholder="必填" required maxlength="64"-->
        <!--pattern="^[a-zA-Z]{1}([a-zA-Z0-9]|[_]){5,19}$"/>-->
        <!--</div>-->
        <!--</div>-->
        <!--</li>-->
        <li class="item-content">
            <div class="item-inner">
                <div class="item-title label">
                    邮箱：
                </div>
                <div class="item-input">
                    <input ng-model="customer.email" type="email" name="email" maxlength="128"
                           ng-pattern="/^[a-z\d]+(\.[a-z\d]+)*@([\da-z](-[\da-z])?)+(\.{1,2}[a-z]+)+$/"/>
                </div>
            </div>
        </li>
        <li class="item-content">
            <div class="item-inner">
                <div class="item-title label">
                    微信：
                </div>
                <div class="item-input">
                    <input ng-model="customer.wechatcode" type="text" name="wechatcode" maxlength="64"
                           ng-pattern="/^[a-zA-Z]{1}([a-zA-Z0-9]|[._-]){5,19}$/"/>
                </div>
            </div>
        </li>
        <li class="item-content">
            <div class="row item-inner">
                <div class="col-50">
                    <a ng-click="index=0" class="button button-cancel button-big" href="login.html">返回</a>
                </div>
                <div class="col-50">
                    <input type="submit" class="button button-submit button-big" value="修改"/>
                </div>
            </div>
        </li>
    </ul>
</form>
<div ng-show="index==2" class="content-block">
    <div class="content-block-inner">
        <img class="img-responsive" ng-src="{{customer.qrcodepath}}"/>
    </div>
    <div class="buttons-row">
        <a ng-click="index=0" class="button button-cancel button-big" href="login.html">返回</a>
    </div>
</div>
