@import './framework7/framework7';

.init {
  visibility: hidden;
}

.logo-image {
  height: 44px;
}

.img-responsive {
  max-width: 100%;
  max-height: 100%;
}

.error {
  color: #DA4453;
  font-size: 10px;
}

.input-group {
  border: 1px solid darkgray;
  display: table;
  width: auto;
}

.input-group .input-group-btn, .input-group select.input {
  display: table-cell;
  height: 100%;
  vertical-align: middle;
  text-align: center;
}

.input-group .input {
  text-align: center;
  width: auto;
}

.input-group .input-group-btn:first-child {
  border-right: 1px solid darkgray;
}

.input-group .input-group-btn:last-child {
  border-left: 1px solid darkgray;
}

.input-group .input-group-btn > button {
  border: 0px;
  width: 44px;
  height: 100%;
  background-color: #ffffff;
}

.item-media-object {
  max-width: 100%;
  max-height: 100%;
}

#channelContainer .item-text {
  margin-top: 10px;
}

.slider-slide img {
  max-width: 100%;
  min-width: 100%;
  max-height: 100%;
}

#channelContainer .row {
  margin-top: 20px;
  text-align: center;
}

#channelContainer .product-item {
  float: left;
  width: 45%;
  height: 120px;
  padding: 10px;
}

@media (max-width: 320px) {
  .slider-slide {
    height: 180px;
  }

  .item-media-object {
    min-width: 100%;
    height: 140px;
  }
}

@media (min-width: 321px) and (max-width: 400px) {
  .slider-slide {
    height: 220px;
  }

  .item-media-object {
    min-width: 100%;
    height: 140px;
  }
}

@media (min-width: 401px) and (max-width: 480px) {
  .slider-slide {
    height: 260px;
  }

  .item-media-object {
    width: 160px;
    height: 160px;
    padding-right: 10px;
    float: left;
  }
}

@media (min-width: 481px) and (max-width: 640px) {
  .slider-slide {
    height: 300px;
  }
  .item-media-object {
    width: 200px;
    height: 160px;
    padding-right: 10px;
    float: left;
  }

}

@media (min-width: 641px) and (max-width: 768px) {
  .slider-slide {
    height: 340px;
  }
  .item-media-object {
    width: 240px;
    height: 160px;
    padding-right: 10px;
    float: left;
  }
}

@media (min-width: 769px) {
  .slider-slide {
    height: 380px;
  }
  .item-media-object {
    width: 280px;
    height: 160px;
    padding-right: 10px;
    float: left;
  }
}